/* Primary */

:root {
  --Cyan: #2ab2af;
  --Bright-Yellow: #c0df34;
  /* Neutral */
  --Light-Gray: #e5eff5;
  --Grayish-Blue: #98a6bd;
}

/* Reset */

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
}

*, input, button {
  font-family: 'Karla', sans-serif;
}

html, body {
  height: 100%;
  background: var(--Light-Gray);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 50%;
  height: 50%;
  display: grid;
  grid-template-rows: 2;
  grid-template-columns: 2;
}

.container h3 {
  font-size: 1.1rem;
  margin-bottom: 0.8rem;
}

.card-1 {
  padding: 2rem;
  grid-row: 1 / 2;
  background: #FFF;
  grid-column: 1 / 3;
  border-radius: 0.5rem 0.5rem 0 0;
}

.card-1 h1 {
  font-size: 1.5rem;
  color: var(--Cyan);
  margin-bottom: 1.5rem;
}

.card-1 h3 {
  color: var(--Bright-Yellow);
}

.card-1 p {
  line-height: 1.5rem;
  color: var(--Grayish-Blue);
}

.card-2 {
  padding: 2rem;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  background: var(--Cyan);
  color: var(--Light-Gray);
  border-radius: 0 0 0 0.5rem;
}

.card-2 div {
  display: flex;
  margin-bottom: .5rem;
  align-items: center;
}

.value {
  font-size: 2rem;
  font-weight: bold;
  margin-right: 1rem;
}

.price {
  opacity: .6;
  display: inline-block;
}

.card-2>p {
  margin-bottom: 2rem;
}

.card-2 button {
  width: 90%;
  border: none;
  color: #FFF;
  padding: 1rem;
  font-weight: bold;
  border-radius: 5px;
  background: var(--Bright-Yellow);
}

.card-3 {
  padding: 2rem;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  color: var(--Light-Gray);
  border-radius: 0 0 0.5rem 0;
  border: rgb(42, 178, 175);
  background: rgba(42, 178, 175, 0.7);
}

.card-3 p {
  margin-bottom: 0.2rem;
}